:root {
    --main-color: #7367F0;
    --light-gray-color: #D0D2D6;
    --dark-gray-color: #bbb;
    --white-color: #FFFFFF;
    --main-black-color: #161D31;
    --light-black-color: #283046;
    --pink-color: #2B344D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.footer.footer {
    display: none;
}

.main-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;
    background-color: #eee;
}

.main-container .card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
}

.main-container .card form {
    width: 100%;
    display: flex;
    gap: 50px;
}

.main-container .card section:first-of-type {
    width: 40%;
}

.main-container .card section:last-of-type {
    width: 60%;
}

.main-container .card section .modules-list button {
    width: inherit;
}

.dark-layout .select2-container .select2-search__field,
.dark-layout .select2-container .select2-selection,
.dark-layout .select2-container .select2-selection__placeholder {
    background: none;
}

.dark-layout .select2-container .select2-selection__rendered,
.dark-layout .select2-container .select2-selection__placeholder,
.dark-layout .select2-container .select2-selection {
    color: #000 !important;
}

.dark-layout .select2-container .select2-search__field {
    background-color: #fff;
    color: #000 !important;
}

.dark-layout .select2-container .select2-dropdown {
    color: #fff !important;
    border: 1px solid #ccc;
}

.main-container .card section .lists-group {
    width: 100%;
    min-height: 500px !important;
    margin: 10px 0;
    background-color: #fff;
    padding-top: 5px;
    border: 1px solid #404040;
}

.main-container .card section .lists-group .dropdown-container {
    width: 100%;
    color: #000;
    padding: 0 5px;
    margin: 5px 0;
}

.main-container .card section .lists-group .dropdown-container .tilte {
    color: #000 !important;
    font-size: 13px;
    font-weight: lighter;
    line-height: 0;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-container .card section .lists-group .dropdown-container .tilte:last-of-type {
    margin-bottom: 0;
}

.main-container .card section .lists-group .dropdown-container .tilte i {
    font-size: 13px;
}

.main-container .card section .lists-group .dropdown-container ul {
    display: none;
    padding-inline-start: 20px;
    margin: 0;
}

.main-container .card section .lists-group .dropdown-container.show ul {
    display: block;
}

.main-container .card section .lists-group .dropdown-container ul li {
    font-size: 13px;
    color: #000 !important;
    cursor: pointer;
    margin: 5px 0;
}

.user,
.linces,
.balance,
.email {
    width: 100%;
    color: #000 !important;
}

.main-container .card section h3 {
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    width: inherit;
    color: #000 !important;
}

.main-container .card section p {
    font-size: 16px;
    margin: 0;
    width: inherit;
    color: #000 !important;
}

.main-container .card section .btn-groups button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-container .card section .btn-groups button:first-of-type {
    background-color: var(--main-color);
}

.main-container .card section .btn-groups button:last-of-type {
    background-color: var(--dark-gray-color);
}

.main-container .card section .progress-bar {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent !important;

}

.main-container .card section .progress-bar .progress-container {
    width: 100%;
    height: 20px;
    position: relative;
    background-color: var(--light-gray-color);
}

.main-container .card section .progress-bar .progress-container .progress-bg {
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .card section .file-details {
    width: 100%;
    min-height: 430px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #404040;
}

.main-container .card section .file-details p {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    font-weight: lighter;
}

.main-container .card section .file-details b {
    font-size: 16px;
    color: #000;
}

.main-container .card section .file-details p:last-of-type {
    margin-bottom: 0;
}

/* Start Custom Radio */
.label-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-inline-start: 25px;
    color: #000;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #888;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-container:hover input~.checkmark {
    background-color: var(--light-gray-color);
}

.label-container input:checked~.checkmark {
    background-color: var(--main-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-container input:checked~.checkmark:after {
    display: block;
    background: var(--white-color);
}

.label-container .checkmark:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--dark-gray-color);
}

.label-container.sm-label {
    padding-inline-start: 15px;
}

.label-container.sm-label .checkmark {
    height: 11px;
    width: 11px;
}

.label-container.sm-label .checkmark:after {
    width: 5px;
    height: 5px;
}

.text-gray,
.dark-layout .text-dark {
    color: #000 !important;
}

.group-title {
    color: #000 !important;
    font-size: 16px;
    font-weight: lighter;
}


@media screen and (max-width:910px) {

    .main-container .card form {
        flex-wrap: wrap;
    }

    .main-container .card section:first-of-type {
        width: 100%;
    }

    .main-container .card section:last-of-type {
        width: 100%;
    }
}

@media screen and (max-width:800px) {}

@media screen and (max-width:600px) {
    .main-container {
        padding: 30px;
    }

    html body .app-content {
        padding: 0 !important;
    }
}
